.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .list-type-selector-label {
    margin-right: 0.5rem;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
