<mat-card class="user-card" appearance="outlined" (click)="onClick()">
  <mat-card-header>
    <div
      mat-card-avatar
      class="avatar"
      [style.backgroundImage]="'url(' + user.avatar + ')'"
      [style.backgroundPosition]="'center'"
      [style.backgroundSize]="'cover'"
    ></div>
    <mat-card-title>{{ user.first_name }} {{ user.last_name }}</mat-card-title>
    <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="id">ID: {{ user.id }}</p>
    <p>Email: {{ user.email }}</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-stroked-button color="primary" (click)="onClick()">
      Show Details
    </button>
  </mat-card-actions>
</mat-card>
