:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  flex: 0 0 auto;
  &__logo {
    flex: 0.13;
    .icon {
      margin-right: 1rem;
      line-height: 1.4;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
  }
}

.main-content {
  padding: 20px 25px;
  flex: 1 0 auto;
  overflow: auto;
}
