<div class="header">
  <button mat-fab extended class="btn">
    <mat-icon>arrow_back_ios</mat-icon>
    Back
  </button>
  <h2>Users Details</h2>
</div>
<div class="details-container">
  <div class="avatar">
    <img [src]="user?.avatar" [alt]="user?.first_name" />
  </div>
  <div class="details">
    <div class="item">
      <span class="mat-title-medium">ID:</span>
      <p class="mat-body-large">{{ user?.id }}</p>
    </div>
    <div class="item">
      <span class="mat-title-medium">First Name:</span>
      <p class="mat-body-large">{{ user?.first_name }}</p>
    </div>
    <div class="item">
      <span class="mat-title-medium">Last Name:</span>
      <p class="mat-body-large">{{ user?.last_name }}</p>
    </div>
    <div class="item">
      <span class="mat-title-medium">Email:</span>
      <p class="mat-body-large">{{ user?.email }}</p>
    </div>
  </div>
</div>
